# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
xcshareddata
xcdebugger
.LSOverride

# Build products
DerivedData/
build/
*.opensdf
*.sdf
*.suo
*.o
*.LinkFileList
*.hmap
*.VC.db
*.VC.opendb
ipch/

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
m
alto/
